{% extends 'base.html' %}
{% block title %} home {% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Your Company</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <!-- Add other navigation links here if needed -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit">Sign In</button>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <!-- Task Boxes -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="task1.jpg" class="card-img-top" alt="Task 1 Image">
        <div class="card-body">
          <h5 class="card-title">Task 1</h5>
          <!-- Additional task information can go here -->
        </div>
      </div>
    </div>

    <!-- Add more task boxes as needed -->

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock %}

