{% extends 'base.html' %}
{% load static %}

{% block title %} {{ staff.lastname }} profile{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-taupe text-center">
                <div class="card-body">
                    <h2 class="card-title">Personal Data</h2>
                    <p><strong>First Name:</strong> {{ staff.firstname }}</p>
                    <p><strong>Last Name:</strong> {{ staff.lastname }}</p>
                    <p><strong>National Code:</strong> {{ staff.user.nationalcode }}</p>
                    <p><strong>Email:</strong> {{ staff.user.email }}</p>
                    <p><strong>Address:</strong> {{ staff.user.adress }}</p>
                    <p><strong>Date of Birth:</strong> {{ staff.user.date_of_birth }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-taupe text-center">
                <div class="card-body">
                    <h2 class="card-title">About Expertise</h2>
                    <p><strong>Expertise:</strong> {{ staff.expert }}</p>
                    <p><strong>Experience:</strong> {{ staff.experience }} years</p>
                    <p><strong>Category:</strong> {{ staff.categories.title }}</p>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
