{% extends 'base.html' %}
{% block title %} login{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-primary m-2 p-2">
                    <h2 class="card border-primary m-3 text-white text-center" style="background-color: #032a5d;">login form</h2>
                    <form action="" method="post" novalidate autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.nationalcode.label_tag }}
                            {{ form.nationalcode }}
                            <small class="form-text text-muted"><label>{{ form.nationalcode.help_text }}</label></small>
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            <a>
                                <small class="form-text text-muted"><label>{{ form.password.help_text }}</label></small>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm btn-block" style="max-width: 100px;">log in</button>
                        <a href="{% url 'account:User_register' %}" class="sing_up_sign_in" target="_self" style="color:white;">register in Ada company sit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
