{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href={% static 'image/company_logo.png' %}>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>
<header>
    <div class="container-fluid">
        <div class="nav_belt">
            <div class="row align-items-center">
                <div class="company-logo col-lg-2 col-md-2 col-sm-3 col-6 ">
                   <img src={% static 'image/company_logo.png' %}  alt = "logo Image">
                    <a style="color:whitesmoke; font-family: cursive; text-decoration:none;" href="{% url 'home:home' %}" ><b>Ada company</b></a>
                </div> 
                <div class="col-lg-1 col-md-2 col-sm-3 col-12 menu-icon">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MENU
                  </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">about us</button>
                            <button class="dropdown-item" type="button">contact us</button>
                            <button class="dropdown-item" type="button"><a style="color:black; text-decoration:none" href="{% url 'account:User_logout' %}" type="submit" target="_self">User Logout</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <input type="text" class="form-control search-box" placeholder=" Search Ada company ...">
                </div>
                {% if user.is_authenticated %}
                    <div class="col-lg-2 col-md-2 col-sm-3 col-12">
                       <button type="button" class="btn btn-light"><a style="color:black; text-decoration:none" href="{% url 'home:staffdetail' user.id %}" type="submit" target="_self">profile</a></button>
                    </div>
                {% else %}
                    <div class="col-lg-2 col-md-2 col-sm-3 col-6">
                       <button type="button" class="btn btn-light"><a style="color:black; text-decoration:none" href="{% url 'account:User_register' %}" type="submit" target="_self">register</a></button>
                       <button type="button" class="btn btn-light"><a style="color:black; text-decoration:none" href="{% url 'account:User_login' %}" type="submit" target="_self">log in</a></button>
                    </div>
                {% endif %}
            </div>
        </div>
</header>
<body>
    <div class="container mt-2">
      {% include "include/messages.html" %}
      {% block content %}
      {% endblock %}
    </div>
    
    <div class="footer col-md-12 mb-12 m-0">
      <div class="social-icons">
        <a href="https://www.instagram.com/digikalacom/?utm_source=aboutdk_home&utm_medium=web&utm_campaign=refactor" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/digikala/?originalSubdomain=ir" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <p style="margin-top: 1rem;">&copy; 2023 To use the contents of the website about the Ada group, it is enough to have a "non-commercial purpose" and mention the "source".</p>
      <p>&copy;All the rights of this website belong to Ada e-commerce group company.</p>
    </div>
    
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>