* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background-color: #a3a3a3;
  padding: 10px;
}

img {
  max-width: 60px;
  max-height: 50px;
  margin: 0;
  padding: 0;
}
body {
  background-color: #032a5d;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.specialscolor {
  max-width: 250px;
}

span {
  color: #fff; 
}

label {
  color: #fff;
}

.form-text-helper {
  font-size: 14px;
  color: #888; 
}

.row-form{
background-color: #555657;
}



.card {
  background-color: #555657;
  color: #000000 ; 
  margin: 30px;
}

.footer {
    position:fixed ;
    bottom: 0;
    background-color: #a3a3a3;
    font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 10px;
    text-align: center;
    color: #000000 ;
    padding: 10px
}
@media (max-width: 768px){
    footer{
        width: auto;
    }

}




