* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background: linear-gradient(to bottom, #67448e, #0F2B52);
  background-blend-mode: multiply;
  /* background-color: #a3a3a3; */
  padding: 10px;
}

img {
  max-width: 60px;
  max-height: 50px;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('/static/image/background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  /* background-color: #032a5d; */
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.specialscolor {
  max-width: 250px;
}

span {
  color: #fff; 
}

label {
  color: #fff;
}

.form-text-helper {
  font-size: 14px;
  color: #888; 
}

/* .row-form{
background-color: #555657;
} */

.container {
  flex: 1;
  min-height: 100vh;
}

.card {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(137, 202, 224, 0.7);
  /* background-color: #57718b; */
  color: #000000 ; 
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}
.card-img-top {
  max-width: 350px;
  max-height: 250px;
  margin: auto; 
}

.bg-taupe {
  background-color:rgb(79, 100, 103) ;
}

.footer-image {
  bottom: 0!important;
  left: 0!important;
  max-width: 150px; 
  max-height: 150px; 
  margin: 0px !important;

}

.footer {
  font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 10px;
  text-align: center;
  color: #000000 ; 
  background: linear-gradient(to bottom, #67448e, #384d6c);
  /* background-color: #a3a3a3; */
  padding: 10px;
  max-height: 15vh;
  margin-bottom:0;
}
@media (max-width: 768px){
    footer{
        width: auto;
    }

}




